<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h1>Sign in</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <form [formGroup]="form" (ngSubmit)="signinUser()" *ngIf="isLoaded">
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email">
                    <span class="text-danger" *ngIf="form.get('email').status != 'VALID' && form.get('email').touched">El email es requerido.</span>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    <span class="text-danger" *ngIf="form.get('password').status != 'VALID' && form.get('password').touched">La contraseña es requerida.</span>
                </div>
                <hr>
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block btn-md">Inicia sesion.</button>
            </form>
        </div>
    </div>
</div>