 /* Style the button that is used to open and close the collapsible content */
 
 .collapsible {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
 }
 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 
 .active,
 .collapsible:hover {
     background-color: rgb(105, 105, 105);
 }
 /* Style the collapsible content. Note: hidden by default */
 
 .content {
     padding: 0 18px;
     display: none;
     overflow: hidden;
     background-color: #6b6b6b;
 }
 
 .customStyle {
     margin-top: 50px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 100px;
     min-height: 600px;
 }
 
 .heading {
     font-size: 20px;
     font-weight: 600;
     color: #4b61e0;
 }
 
 .line1 {
     color: #000;
     font-size: 12px;
 }
 
 .line2 {
     color: #000;
     font-size: 12px;
 }
 
 .line3 {
     color: #000;
     font-size: 12px;
 }
 
 .cards {
     transition: all 0.2s ease;
     cursor: pointer;
 }
 
 .cards:hover {
     box-shadow: 5px 6px 6px 2px #5c5c5c;
     transform: scale(1.1);
 }