<div class="container mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Historia Clinica</h1>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="isLoaded" #dataToExport>
        <div class="col-md-8 col-sm-12">
            <hr />
            <h5>
                <u>Fecha:</u> {{appointment.date | date}} <u>Hora:</u> {{appointment.agenda.hour.detail}}
            </h5>
            <hr />
            <h5>
                <u>Profesional:</u> {{appointment.professional.name}} {{appointment.professional.surname}}
            </h5>
            <hr />
            <h5>
                <u>Consultorio:</u> {{appointment.tenant.detail}}
            </h5>
            <hr />
            <h5><u>Historia clinica:</u></h5>
            <ul>
                <li>
                    <h6><u>Sintomas:</u></h6>
                    <p>{{appointment.history.symptoms}}</p>
                </li>
                <li>
                    <h6><u>Medicaion:</u></h6>
                    <p>{{appointment.history.medications}}</p>
                </li>
                <li>
                    <h6><u>Observaciones:</u></h6>
                    <p>{{appointment.history.observations}}</p>
                </li>
            </ul>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="isLoaded">
        <div class="col-md-8 col-sm-12">
            <button class="btn btn-success" (click)="downloadPDF()">
                Descargar historia clinica
            </button>
        </div>
    </div>
</div>