<div class="container-fluid mt-5 globalSize">
    <div class="d-flex justify-content-center">
        <div class="mr-auto p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Profesionales y Agendas</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras vincular profesionales a consultorios y generar su agenda semanal</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/operator/tenants/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-self-end customStyleBtn"></div>
        <div class="p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Alta Profesionales</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras asignarle/quitarle el rol de profesional a usuarios</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/operator/professionals/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Ver Agendas</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras ver las agendas de todos los profesionales y gestionarlas</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/operator/tenants/agenda/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Modificar Turnos</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras eliminar turnos agendados e inhabilitarlos</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/operator/appointments/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <h1>Turnos agendados en el sistema</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Profesional</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appt of appointments">
                        <th scope="row" class="thCustomStyle">{{appt.id}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.agenda.hour.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.tenant.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.professional.name}} {{appt.professional.surname}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.patient.name}} {{appt.patient.surname}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.date | date: 'fullDate' }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>