<div class="container-fluid mt-5 globalSize">
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <div class="card cards" style="width: 12rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Agendar Turno</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras ver disponibilidad y agendar turnos</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/patient/appointments/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 col-sm-12">
            <h1>Appointments</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tenant</th>
                        <th scope="col">Professional</th>
                        <th scope="col">Date</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appt of appointments">
                        <th scope="row">{{appt.id}}</th>
                        <th scope="row">{{appt.tenant.detail}}</th>
                        <th scope="row">{{appt.professional.name}} {{appt.professional.surname}}</th>
                        <th scope="row">{{appt.date | date: 'fullDate'}}</th>
                        <td>
                            <button class="btn btn-info" routerLink="/admin/tenants/{{appt.id}}/operators">view</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>