<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Mis turnos</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 text-right">
            <a class="btn btn-success btn-md" routerLink="/patient/appointment/new">Agendar un turno medico</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Profesional</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Historia clinica</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appt of appointments">
                        <th scope="row" class="thCustomStyle">{{appt.id}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.tenant.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.professional.name}} {{appt.professional.surname}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.date | date: 'fullDate'}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.agenda.hour.detail}}</th>
                        <td>
                            <button class="btn btn-info" routerLink="/patient/history/{{appt.history.id}}">Ver historia clinica</button>
                        </td>
                        <td>
                            <button class="btn btn-danger fa fa-trash" (click)="deleteAppointment(appt.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>