<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12" *ngIf="professionalPick">
            <blockquote class="blockquote text-center card" style="width: 18rem; height: 10rem;border: 1px rgb(0, 0, 0) solid;margin: 0 auto;">
                <h3 class="blockquote-footer mt-3">Datos del profesional</h3>
                <p class="mb-0 mt-3">Profesional id: {{ professionalPick.id }}</p>
                <p class="mb-0">Profesional: {{ professionalPick.name }} {{ professionalPick.surName }}</p>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <h1>Professional specialities</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3 mt-3">
        <div class="col-md-8 col-sm-12 text-right w-25">
            <div class="mb-3">
                <select class="form-select" (change)="onChangeSpeciality($event)" aria-label="Default select example">
                <option selected>Select speciality</option>
                <option *ngFor="let s of specialities" [value]="s.id">
                    {{s.detail}}
                </option>
            </select>
            </div>
            <div>
                <button class="btn btn-success" (click)="addSpeciality()">Add speciality</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 w-25">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Speciality</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ps of professionalSpecialities">
                        <th scope="row">{{ps.speciality.detail}}</th>
                        <th scope="row">
                            <button class="btn btn-info" (click)="removeSpeciality(ps.id)">Remove</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>