<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Tenants operators</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-sm-12 text-right">
            <a class="btn btn-success btn-md" routerLink="/admin/tenants/{{reason}}/operators/link">Add operator</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Unlink</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operator of operators">
                        <th scope="row">{{operator.id}}</th>
                        <th scope="row">{{operator.name}}</th>
                        <th scope="row">{{operator.surname}}</th>
                        <th scope="row">{{operator.email}}</th>
                        <td>
                            <button type="button" class="btn btn-info" (click)="unlinkTenantOperator(operator.id,operator.name,operator.surname)">Unlink</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>