<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Consultorios</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tenant</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Habilitado</th>
                        <th scope="col">Gestionar profesionales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tenant of tenants">
                        <th scope="row" class="thCustomStyle">{{tenant.id}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.phone}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.cuit}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.address}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.available}}</th>
                        <td>
                            <button class="btn btn-info fa fa-employee" routerLink="/operator/tenants/{{tenant.id}}/professionals">Profesionales</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>