<div class="container mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <blockquote class="blockquote text-center card" style="width: 18rem; height: 10rem;border: 1px rgb(0, 0, 0) solid;margin: 0 auto;">
                <h3 class="blockquote-footer mt-3">Datos del paciente</h3>
                <p class="mb-0 mt-3">Paciente id: {{ appointment.patient.id }}</p>
                <p class="mb-0">Paciente: {{ appointment.patient.name }} {{ appointment.patient.surname }}</p>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <form [formGroup]="form" (ngSubmit)="saveCliHistory()" *ngIf="isLoaded">
                <div class="form-group mb-3">
                    <label for="exampleInputDetail" class="form-label">Sintomas</label>
                    <textarea type="text" class="form-control" formControlName="symptoms" placeholder="Ingrese los sintomas" [disabled]="false"></textarea>
                    <span class="text-danger" *ngIf="form?.get('symptoms').status != 'VALID' && form.get('symptoms').touched">El detalle es obligatorio.</span>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Medicacion</label>
                    <textarea type="text" class="form-control" formControlName="medications" placeholder="Ingrese medicacion"></textarea>
                    <span class="text-danger" *ngIf="form?.get('medications').status != 'VALID' && form.get('medications').touched">El telefono es obligatorio.</span>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Observaciones</label>
                    <textarea type="text" class="form-control" formControlName="observations" placeholder="Ingrese las Observaciones"></textarea>
                    <span class="text-danger" *ngIf="form?.get('observations').status != 'VALID' && form.get('observations').touched">El telefono es obligatorio.</span>
                </div>
                <div class="d-flex">
                    <div class="me-3">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Guardar Historia Clinica</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning btn-block" routerLink="/professional/dashboard">Salir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>