<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Agenda</h1>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12">
                <table class="table text-center table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Consultorio</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Reservado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let agenda of agendas">
                            <th scope="row" class="thCustomStyle">{{agenda.date | date}}</th>
                            <th scope="row" class="thCustomStyle">{{agenda.tenant.detail}}</th>
                            <th scope="row" class="thCustomStyle">{{agenda.hour.detail}}</th>
                            <th scope="row" class="thCustomStyle">{{ agenda.scheduled ? '✅' : '❌' }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>