<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Usuarios</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol profesional</th>
                        <th scope="col">Asignar rol</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row" class="thCustomStyle">{{user.id}}</th>
                        <th scope="row" class="thCustomStyle">{{user.name}}</th>
                        <th scope="row" class="thCustomStyle">{{user.surname}}</th>
                        <th scope="row" class="thCustomStyle">{{user.email}}</th>
                        <th scope="row" class="thCustomStyle">{{user.isProfessional}}</th>
                        <td>
                            <button type="button" class="btn btn-info" *ngIf="!user.isProfessional" (click)="createUserAsProfessional(user.id,user.name,user.surname)">Asignar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>