.customStyles {
    height: 600px;
}

.customStyleBtn {
    width: 10rem;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer;
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #5c5c5c;
    transform: scale(1.1);
    border-radius: 1rem;
}