<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12" *ngIf="professionalPick">
            <blockquote class="blockquote text-center card" style="width: 18rem; height: 10rem;border: 1px rgb(0, 0, 0) solid;margin: 0 auto;">
                <h3 class="blockquote-footer mt-3">Datos del profesional</h3>
                <p class="mb-0 mt-3">Profesional id: {{ professionalPick.id }}</p>
                <p class="mb-0">Profesional: {{ professionalPick.name }} {{ professionalPick.surName }}</p>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <h1>Agenda del profesional</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-sm-12 d-flex justify-content-center">
            <div class="p-2">
                <button class="btn btn-success" (click)="generateAgenda()" *ngIf="generateAgendaAvaible">Generar agenda por semana</button>
            </div>
            <div class="p-2">
                <select class="form-select" (change)="onChangeDate($event)" aria-label="Default select example">
                <option value="selected" selected>Filtrar por fechas</option>
                <option *ngFor="let date of dates" [value]="date">
                    {{ date | date: 'fullDate'}}
                </option>
            </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-ligth">
                    <tr>
                        <th scope="col">Hora</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Reservado</th>
                        <th scope="col">Habilitado</th>
                        <th scope="col">Habilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agenda of agendas">
                        <th scope="row" class="thCustomStyle">{{agenda.hour.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{agenda.date | date: 'fullDate' }}</th>
                        <th scope="row" class="thCustomStyle">{{agenda.scheduled ? '✅' : '❌'}}</th>
                        <th scope="row" class="thCustomStyle">{{agenda.enable ? '✅' : '❌'}}</th>
                        <td>
                            <button class="btn btn-info" *ngIf="!agenda.enable" (click)="switchEnableAgenda(agenda.id)">Habilitar</button>
                            <button class="btn btn-danger" *ngIf="agenda.enable" (click)="switchEnableAgenda(agenda.id)">Deshabilitar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>