<div class="container-fluid mt-5 globalSize">
    <div class="d-flex justify-content-center">
        <div class="mr-auto p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Turnos Agendados</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras ver los turnos agendados y cargarle historia clinica...</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/professional/appointments/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-self-end customStyleBtn"></div>
        <div class="p-2">
            <div class="card cards" style="width: 18rem; height: 13rem;border: 1px rgb(0, 0, 0) solid;">
                <div class="card-body">
                    <div class="d-flex align-items-end flex-column" style="height: 12rem;">
                        <div class="p-2">
                            <h5 class="card-title">Consultar Agenda</h5>
                        </div>
                        <div class="p-2">
                            <p class="card-text">Podras consultar la disponibilidad de tu agenda y ver tus dias laborales</p>
                        </div>
                        <div class="mt-auto p-2">
                            <a routerLink="/professional/agenda/" class="btn btn-primary">Ir ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <h1>Turnos agendados</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Historia clinica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appt of appointments">
                        <th scope="row" class="thCustomStyle">{{appt.id}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.tenant.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.patient.name}} {{appt.patient.surname}}</th>
                        <th scope="row" class="thCustomStyle">{{appt.date | date: 'fullDate' }}</th>
                        <td>
                            <button class="btn btn-info" routerLink="/professional/history/{{appt.history.id}}">Historia clinica</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>