<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido/a, seleccione el perfil que desea</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let route of routes">
            <div class="form-group">
                <button 
                    type="button" 
                    class="btn btn-primary form-control btn-block"
                    (click)="linkTo(route.link)">
                    {{ route.detail }}
                </button>
            </div>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-md-9 ">

        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <button 
                    type="button" 
                    class="btn btn-danger form-control btn-block"
                    (click)="logout()">
                    Salir...
                </button>
            </div>
        </div>
    </div>
</div>