<div class="container-fluid mt-5 globalSize">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>Consultorios</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 text-right">
            <a class="btn btn-success btn-md" routerLink="/admin/tenants/new">Nuevo Tenant</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <table class="table text-center table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="thCustomStyle">#</th>
                        <th scope="col">Tenant</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Habilitado</th>
                        <th scope="col">Operadores</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tenant of tenants">
                        <th scope="row" class="thCustomStyle">{{tenant.id}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.detail}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.phone}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.cuit}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.address}}</th>
                        <th scope="row" class="thCustomStyle">{{tenant.available}}</th>
                        <td>
                            <button class="btn btn-info fa fa-employee" routerLink="/admin/tenants/{{tenant.id}}/operators">Operadores</button>
                        </td>
                        <td>
                            <button class="btn btn-warning fa fa-edit" routerLink="/admin/tenants/{{tenant.id}}">Modificar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger fa fa-trash" (click)="deleteTenant(tenant.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>